# Database Configuration
DB_NAME=accesorios_dm_db
DB_USER=admin
DB_PASSWORD=admin123

# Environment: dev, qa, prod
ENVIRONMENT=dev

# Ports by environment
# dev: 5432
# qa: 5433
# prod: 5434
DB_PORT=5432